* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f5f0;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.header-title {
    text-align: center;
    padding: 30px 0;
}

.header-title h1 {
    color: #2c502c;
    font-size: 2.5em;
}

.error_message {
    display: none;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    margin: 1rem 0;
}

input:active,
input:focus {
    outline: none;
}

.no-banks-message {
    text-align: center;
    font-size: 1.5em;
    color: #777777; /* Red color for emphasis */
    margin-top: 20px;
    padding: 10px;
}


.message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.message.success {
    color: green;
    border: 2px solid green;
    background-color: #e6ffe6; /* Light green background */
}
.message.error {
    color: red;
    border: 2px solid red;
    background-color: #ffe6e6; /* Light red background */
}

.warn {
    font-size: 12px;
    width: 100%;
    display: flex;
    color: rgba(255, 0, 0, 0.527);
}